html {
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(211, 208, 208);
  }
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  &:hover {
    color: $primary-color;
  }
}
img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: $default-color;
  letter-spacing: 1px;
  overflow-x: hidden;
}

a,
button,
span,
p,
i,
input,
li,
img,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  outline: none;
  border: none;
  background: none;
}

textarea {
  resize: none;
}

/* ------------------------
    Setup Font
------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  letter-spacing: 2px;
  color: $heading-color;
  font-weight: 700;
}

h1 {
  font-size: 65px;
  line-height: 75px;
  @media #{$lg} {
    font-size: 55px;
    line-height: 65px;
  }
  @media #{$md} {
    font-size: 50px;
    line-height: 60px;
  }
  @media #{$xs} {
    font-size: 34px;
    line-height: 50px;
  }
}

h1 span {
  color: $primary-color;
}

h2 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 10px;
  position: relative;
  @media #{$lg} {
    font-size: 44px;
    line-height: 54px;
  }
  @media #{$md} {
    font-size: 36px;
    line-height: 46px;
  }
  @media #{$xs} {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
  }
}

h3 {
  font-size: 30px;
  line-height: 40px;
  @media #{$lg} {
    font-size: 26px;
    line-height: 36px;
  }
  @media #{$md} {
    font-size: 24px;
    line-height: 30px;
  }
  @media #{$xs} {
    font-size: 20px;
    line-height: 28px;
  }
}

h4 {
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 34px;
  @media #{$lg} {
    font-size: 22px;
    line-height: 30px;
  }
  @media #{$md} {
    font-size: 20px;
    line-height: 26px;
  }
  @media #{$xs} {
    font-size: 18px;
    line-height: 26px;
  }
}

h5 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 26px;
  @media #{$lg} {
    font-size: 19px;
    line-height: 28px;
  }
  @media #{$md} {
    font-size: 18px;
    line-height: 28px;
  }
}

h6 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  @media #{$lg} {
    font-size: 17px;
    line-height: 22px;
  }
  @media #{$md} {
    font-size: 17px;
    line-height: 26px;
  }
}

p {
  line-height: 1.7;
}

.gradient-bg {
  background: rgb(3, 214, 101);
  background: linear-gradient(
    58deg,
    rgba(3, 214, 101, 1) 35%,
    rgba(115, 41, 194, 1) 100%
  );
}

/* ------------------------
    Setup Section
------------------------*/

section {
  padding: 80px 0;

  @media #{$md} {
    padding: 60px 0;
  }

  @media #{$sm} {
    padding: 50px 0;
  }

  @media #{$xs} {
    padding: 50px 0;
  }
}

.section-title {
  margin-bottom: 50px;
  position: relative;
}

.section-title p {
  font-size: 16px;
}

/* ------------------------
    Setup Line Height
------------------------*/

.line-h-2 {
  line-height: 1.6;
}

.line-h-3 {
  line-height: 1.7;
}

.line-h-4 {
  line-height: 1.8;
}

.line-h-5 {
  line-height: 1.9;
}

/* ------------------------
    Setup Spacing
------------------------*/

.letter-space-1 {
  letter-spacing: 5px;
}

.letter-space-2 {
  letter-spacing: 10px;
}

.letter-space-3 {
  letter-spacing: 15px;
}

@media #{$sm} {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
    line-height: 30px;
  }

  .section-title h2 {
    font-size: 34px;
    line-height: 40px;
  }

  .section-title p {
    font-size: 16px;
  }
}

@media #{$xs} {
  .section-title h2 {
    font-size: 30px;
  }
}

.btn {
  padding: 12px 25px;
  font-weight: 600;
  background: none;
  color: #322f55;
  overflow: hidden;
  border-radius: 7px;
  border: none;
  position: relative;
  z-index: 9;
}
.btn-sm {
  padding: 10px 20px;
}
.dark-bg .btn,
.theme-bg .btn {
  color: #ffffff;
}
.btn.focus,
.btn:focus {
  box-shadow: none;
}
.btn:hover {
  color: #fff;
}
.btn.btn-theme {
  background: #03d665;
  color: #ffffff;
}
.btn.btn-theme:hover {
  background: #7329c2;
}
.btn.btn-dark {
  background: #0d092c;
  color: #ffffff;
}
.btn.btn-border {
  border: 2px solid rgba(0, 0, 0, 0.08);
  box-shadow: none;
}
.dark-bg .btn.btn-border,
.theme-bg .btn.btn-border {
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.btn.btn-circle {
  border-radius: 30px;
}
.btn.btn-white {
  background: #ffffff;
  color: #322f55;
}
.btn.btn-white.btn-border {
  border-color: #ffffff;
  background: none;
  color: #ffffff;
}
.btn.btn-white:hover {
  background: #ffffff;
  color: #ffffff;
}
.btn + .btn {
  margin-left: 10px;
}
.btn-simple {
  color: #322f55;
  padding: 0;
  background: none !important;
  box-shadow: none;
  display: inline-block;
}
.btn.btn-simple::before {
  padding: 0;
}
.dark-bg .btn-simple,
.theme-bg .btn-simple {
  color: #ffffff;
}
.btn-simple:hover {
  color: #7329c2;
  box-shadow: none;
  background: none;
}
.theme-bg .btn-simple:hover {
  color: #322f55;
}
.btn-iconic {
  position: relative;
  font-size: 30px;
  display: inline-block;
  padding-left: 0;
}
.btn-iconic::before {
  content: "";
  background: #7329c2;
  border-radius: 2px;
  height: 20px;
  width: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  z-index: -1;
}
.btn-iconic:hover {
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-iconic:hover:before {
  width: 100%;
}
.btn::before,
.btn::after,
.btn span::before,
.btn span::after {
  content: "";
  position: absolute;
  top: 0;
  width: 25.25%;
  height: 0;
  background-color: #7329c2;
  z-index: -1;
}
.btn span::before,
.btn span::after {
  top: auto;
  bottom: 0;
}
.btn span::after {
  left: 75%;
}
.btn span::before {
  left: 25%;
}
.btn::before {
  left: 0;
}
.btn::after {
  left: 50%;
}
.btn:hover::before,
.btn:hover::after,
.btn:hover span::before,
.btn:hover span::after {
  height: 100%;
}
.btn-block {
  display: block;
  width: 100%;
}

.align-center {
  position: absolute;
  padding-top: 150px;
  width: 100%;
  z-index: 9;
  @media #{$md} {
    position: inherit;
    transform: inherit;
    padding-top: 0;
  }
  @media #{$sm} {
    position: inherit;
    transform: inherit;
    padding-top: 0;
  }
  @media #{$xs} {
    position: inherit;
    transform: inherit;
    padding-top: 0;
  }
}

.align-items-center {
  align-items: center;
}

.title-bdr {
  position: relative;
  width: 150px;
  margin-bottom: 40px;

  .left-bdr,
  .right-bdr {
    height: 6px;
    width: 60px;
    background-color: $primary-color;
    border-radius: 10px;
    position: absolute;
  }

  .left-bdr {
    left: 0;
    animation: left 2s infinite;
  }
  .right-bdr {
    right: 0;
    animation: right 2s infinite;
  }
}

@keyframes left {
  0%,
  50%,
  100% {
    width: 60px;
  }
  25% {
    width: 120px;
  }
  75% {
    width: 10px;
  }
}

@keyframes right {
  0%,
  50%,
  100% {
    width: 60px;
  }

  25% {
    width: 10px;
  }

  75% {
    width: 120px;
  }
}

.box-shadow {
  -webkit-box-shadow: 0 8px 40px -5px rgb(9 31 67 / 10%);
  -moz-box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
  box-shadow: 0 8px 40px -5px rgb(9 31 67 / 10%);
}

.m-auto {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .col-md {
    flex: 1 0 0% !important;
  }
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.m-20 {
  margin: 20px 0;
}

.p-relative {
  position: relative;
}

[data-bg-img] {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.container-2 {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.dark-bg {
  background: $dark-bg;
}
