.brand {
  position: relative;

  .client-logo {
    -webkit-box-shadow: 0 8px 40px -5px rgb(9 31 67 / 10%);
    -moz-box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
    box-shadow: 0 8px 40px -5px rgb(9 31 67 / 10%);
    background: $white-bg;
    padding: 20px;
    text-align: center;
    border-radius: 10px;

    @media #{$md} {
      margin-bottom: 15px;
    }

    @media #{$sm} {
      margin-bottom: 15px;
    }

    @media #{$xs} {
      margin-bottom: 15px;
    }

    img {
      margin: 0 auto;
    }
  }
}
