.site-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;

  .header-wrap {
    padding: 10px 0;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;

    &.fixed-header {
      padding: 5px 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999;
      background: $white-bg;
      box-shadow: 0 8px 40px -5px rgb(9 31 67 / 10%);
      -webkit-box-shadow: 0 8px 40px -5px rgb(9 31 67 / 10%);
    }

    a.logo {
      img {
        height: 65px;
      }
    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-toggle {
        font-size: 30px;
        color: $primary-color;
        cursor: pointer;
        display: none;
      }

      .navbar {
        display: flex;
        align-items: center;

        li.nav-item {
          margin: 0 15px;

          a.nav-link {
            font-weight: 700;
            color: $heading-color;
            padding: 0;
            position: relative;
            text-transform: capitalize;
            @media #{$lg} {
              line-height: 70px;
            }
            &.active {
              color: $primary-color;
            }
            &:hover {
              color: $primary-color;
            }
          }
        }
        li.has-menu {
          position: relative;
          &:hover {
            .submenu {
              opacity: 1;
              visibility: visible;
              transform: translateY(0px);
              -webkit-transform: translateY(0px);
              -moz-transform: translateY(0px);
              -ms-transform: translateY(0px);
              -o-transform: translateY(0px);
            }
          }
          .submenu {
            position: absolute;
            top: 120%;
            transform: translateY(30px);
            -webkit-transform: translateY(30px);
            -moz-transform: translateY(30px);
            -ms-transform: translateY(30px);
            -o-transform: translateY(30px);
            padding: 15px;
            background: $white-bg;
            min-width: 200px;
            z-index: 15;
            opacity: 0;
            visibility: hidden;
            transition: transform 0.6s ease-in-out 0s,
              opacity 0.6s ease-in-out 0s;
            -webkit-transition: transform 0.6s ease-in-out 0s,
              opacity 0.6s ease-in-out 0s;
            -moz-transition: transform 0.6s ease-in-out 0s,
              opacity 0.6s ease-in-out 0s;
            -o-transition: transform 0.6s ease-in-out 0s,
              opacity 0.6s ease-in-out 0s;
            li a {
              display: inline-block;
              padding: 10px 0;
              color: $heading-color;
              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .site-header {
    .header-wrap {
      .nav {
        .header-toggle {
          display: block;
        }

        .navbar {
          display: none;
        }
      }
    }
  }
}
